# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Ignore backups
*~
*.bak

# Ignore the following directories
build/
buildnogui/
buildqt4/
buildqt5/
output/
Output/
bin/
html/
.vscode/

# Ignore cscope and ctags files, and our db files
cscope.files
cscope.out
tags
*.db

__pycache__
