<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product Name='CodeQuery 0.26.0 (Qt4, 32-bit)' Manufacturer='ruben2020_foss'
        Id='10eefa4f-486a-42ad-811b-a7d3b1317393' 
        UpgradeCode='beb6eef7-0c01-4795-8861-bca4e2175cef'
        Language='1033' Codepage='1252' Version='0.26.0'>
		<Package Id='*' Keywords='Installer' Description="CodeQuery 0.26.0 (Qt4, 32-bit) Installer"
			Comments='Copyright 2013-2022 (C) ruben2020' Manufacturer='ruben2020_foss'
			InstallerVersion='200' Languages='1033' Compressed='yes' SummaryCodepage='1252' />
		<Condition Message="You need to be an administrator to install this product.">
			Privileged
		</Condition>
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
		<WixVariable Id="WixUILicenseRtf" Value="C:\workspace\codequery\windows-install\wincommon\LICENSE.rtf" />
		<WixVariable Id="WixUIBannerBmp" Value="C:\workspace\codequery\doc\banner.bmp" />
		<WixVariable Id="WixUIDialogBmp" Value="C:\workspace\codequery\doc\dialog.bmp" />
		<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch 'How to use CodeQuery'" />
		<Property Id='NOTEPAD'>Notepad.exe</Property>
		<CustomAction Id='LaunchFile' Property='NOTEPAD' ExeCommand='[#HOWTO]' Return='asyncNoWait' />
		<Icon Id="codequery.ico" SourceFile="C:\workspace\codequery\gui\images\codequery.ico" />
		<Icon Id="msiexec.ico" SourceFile="C:\Windows\System32\msiexec.exe" />
		<Property Id="ARPPRODUCTICON" Value="codequery.ico" />
		<UI>
			<UIRef Id="WixUI_InstallDir" />
			<UIRef Id="WixUI_ErrorProgressText" />
			<Publish Dialog="ExitDialog"
				Control="Finish" 
				Event="DoAction" 
				Value="LaunchFile">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
		</UI>
		<Media Id='1' Cabinet='CodeQuery32.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1' />
		<Property Id='DiskPrompt' Value="CodeQuery Installation [1]" />
		<Directory Id='TARGETDIR' Name='SourceDir'>
			<Directory Id='ProgramFilesFolder' Name='PFiles'>
				<Directory Id='CodeQuery' Name='CodeQuery'>
					<Directory Id='INSTALLDIR' Name='CodeQuery 0.26.0 32bit'>
						<Component Id='CodeQueryGUI_32bit' Guid='71c4c0aa-0445-42f1-a691-b182badb16c6'>
							<File Id='codequeryEXE' Name='codequery.exe' DiskId='1' Source='C:\workspace\codequery\build\output\codequery.exe' KeyPath='yes'>
								<Shortcut Id="startmenuCodeQueryShortcut" Directory="AppProgramMenuFolder" Name="CodeQuery"
									Advertise="yes" WorkingDirectory='INSTALLDIR' Icon="codequery.ico" IconIndex="0" />
							</File>
						</Component>
						<Component Id='cqmakedb_32bit' Guid='910cb428-cd79-4fd4-99c5-15d296d7ca86'>
							<File Id='cqmakedbEXE' Name='cqmakedb.exe' DiskId='1' Source='C:\workspace\codequery\build\output\cqmakedb.exe' KeyPath='yes' />
							<Environment Id="PATH" Name="PATH" Value="[INSTALLDIR]" Permanent="no" Part="last" Action="set" System="no" />
						</Component>
						<Component Id='cqsearch_32bit' Guid='26a9e389-6ca4-41b2-ae44-7ab1ca1c495c'>
							<File Id='cqsearchEXE' Name='cqsearch.exe' DiskId='1' Source='C:\workspace\codequery\build\output\cqsearch.exe' KeyPath='yes' />
						</Component>
						<Component Id='cscope_32bit' Guid='e3e28014-47ee-4747-a781-fbed210894a8'>
							<File Id='cscopeEXE' Name='cscope.exe' DiskId='1' Source='C:\workspace\codequery\windows-install\win32\cscope.exe' KeyPath='yes' />
						</Component>
						<Component Id='ctags_32bit' Guid='678d729d-e1d0-4f34-942c-619abaefd718'>
							<File Id='ctagsEXE' Name='ctags.exe' DiskId='1' Source='C:\workspace\codequery\windows-install\win32\ctags.exe' KeyPath='yes' />
						</Component>
						<Component Id='docHOWTO' Guid='a8a737a0-9aef-4105-8004-2973e56a3f6d'>
							<File Id='HOWTO' Name='HOWTO-WINDOWS.txt' DiskId='1' Source='C:\workspace\codequery\windows-install\wincommon\HOWTO-WINDOWS.txt' KeyPath='yes'>
								<Shortcut Id="startmenuHOWTOShortcut" Directory="AppProgramMenuFolder" Name="How to use CodeQuery"
									Advertise="yes" WorkingDirectory='INSTALLDIR' />
							</File>
						</Component>
						<Component Id='docLICENSE' Guid='0a2ca9df-dc81-4b7f-8b82-fcbbd60181ca'>
							<File Id='LICENSE' Name='LICENSE.txt' DiskId='1' Source='C:\workspace\codequery\windows-install\wincommon\LICENSE.txt' KeyPath='yes'>
								<Shortcut Id="startmenuLicenseShortcut" Directory="AppProgramMenuFolder" Name="LICENSE"
									Advertise="yes" WorkingDirectory='INSTALLDIR' />
							</File>
						</Component>
						<Component Id='docREADME' Guid='cf10df14-cf2e-4200-b502-bdbdabebbdd2'>
							<File Id='README' Name='README.txt' DiskId='1' Source='C:\workspace\codequery\windows-install\wincommon\README.txt' KeyPath='yes'>
								<Shortcut Id="startmenuREADMEShortcut" Directory="AppProgramMenuFolder" Name="README"
									Advertise="yes" WorkingDirectory='INSTALLDIR' />
							</File>
						</Component>
						<Component Id='sqlite3_32bit' Guid='3e8728a7-b4d7-48a0-968a-066a1dbea362'>
							<File Id='sqlite3DLL' Name='sqlite3.dll' DiskId='1' Source='C:\workspace\codequery\build\output\sqlite3.dll' KeyPath='yes' />
						</Component>
						<Component Id='BaseDLLsWin32' Guid='d8debbb0-262d-434e-8743-92de4efe61ea'>
							<File Id='GCCDLL' Name='libgcc_s_dw2-1.dll' DiskId='1' Source='C:\workspace\codequery\build\output\libgcc_s_dw2-1.dll' KeyPath='yes' />
							<File Id='STDCPPDLL' Name='libstdc++-6.dll' DiskId='1' Source='C:\workspace\codequery\build\output\libstdc++-6.dll' KeyPath='no' />
							<File Id='WinPThreadDLL' Name='libwinpthread-1.dll' DiskId='1' Source='C:\workspace\codequery\build\output\libwinpthread-1.dll' KeyPath='no' />

						</Component>
						<Component Id='QT4MainDLL' Guid='aeef294d-67f2-46d0-a790-d5e771f1c66b'>
							<File Id='QtCore4' Name='QtCore4.dll' DiskId='1' Source='C:\workspace\codequery\build\output\QtCore4.dll' KeyPath='yes' />
							<File Id='QtGui4' Name='QtGui4.dll' DiskId='1' Source='C:\workspace\codequery\build\output\QtGui4.dll' KeyPath='no' />
							<File Id='QtXml4' Name='QtXml4.dll' DiskId='1' Source='C:\workspace\codequery\build\output\QtXml4.dll' KeyPath='no' />
						</Component>
						<Component Id='CodeQueryUninstall' Guid='ce79f180-e4b3-4e9c-a7de-34944b0f37f4'>
							<File Id='uninstallBAT' Name='uninstall.bat' DiskId='1' Source='C:\workspace\codequery\windows-install\wincommon\uninstall.bat' 
									KeyPath='yes' >
								<Shortcut Id="startmenuUninstallShortcut" Directory="AppProgramMenuFolder" Name="Uninstall CodeQuery" Show='minimized'
									Arguments='[ProductCode]' Advertise="yes" WorkingDirectory='INSTALLDIR' Icon="msiexec.ico" IconIndex="0" />
							</File>
						</Component>
					</Directory>
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder" Name="Programs">
				<Directory Id="AppProgramMenuFolder" Name="CodeQuery 0.26.0 (32-bit)" />
			</Directory>
		</Directory>
		<DirectoryRef Id="AppProgramMenuFolder">
			<Component Id="AppProgramMenuFolder" Guid="ed001d87-9370-486f-ab85-21929e1f0aed">
				<RemoveFolder Id='AppProgramMenuFolder' On='uninstall' />
				<RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
			</Component>
		</DirectoryRef>
		<Feature Id='Complete' Title='CodeQuery 0.26.0 (Qt4, 32-bit)' Description='The complete package.' Level='1' ConfigurableDirectory='INSTALLDIR' InstallDefault='local' Absent='disallow'>
			<ComponentRef Id='CodeQueryGUI_32bit' />
			<ComponentRef Id='cqmakedb_32bit' />
			<ComponentRef Id='cqsearch_32bit' />
			<ComponentRef Id='cscope_32bit' />
			<ComponentRef Id='ctags_32bit' />
			<ComponentRef Id='docHOWTO' />
			<ComponentRef Id='docLICENSE' />
			<ComponentRef Id='docREADME' />
			<ComponentRef Id='sqlite3_32bit' />
			<ComponentRef Id='BaseDLLsWin32' />
			<ComponentRef Id='QT4MainDLL' />
			<ComponentRef Id='CodeQueryUninstall' />
			<ComponentRef Id='AppProgramMenuFolder' />
		</Feature>
    </Product>
</Wix>
