IDI_ICON1 ICON DISCARDABLE "images/logo6464.ico"
IDI_ICON2 ICON DISCARDABLE "images/logo4848.ico"
IDI_ICON3 ICON DISCARDABLE "images/logo3232.ico"
IDI_ICON4 ICON DISCARDABLE "images/logo1616.ico"

