<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product Name='CodeQuery 0.26.0 (Qt5, 64-bit)' Manufacturer='ruben2020_foss'
        Id='71652e99-5d42-4ce9-ae32-4169e65254c2' 
        UpgradeCode='2368ce2d-f635-4c8c-9b92-6fa348b292af'
        Language='1033' Codepage='1252' Version='0.26.0'>
		<Package Id='*' Keywords='Installer' Description="CodeQuery 0.26.0 (Qt5, 64-bit) Installer"
			Comments='Copyright 2013-2022 (C) ruben2020' Manufacturer='ruben2020_foss'
			InstallerVersion='200' Languages='1033' Compressed='yes' SummaryCodepage='1252'
			Platform="x64" />
		<Condition Message="You need to be an administrator to install this product.">
			Privileged
		</Condition>
		<Condition Message='This application only runs on 64-bit Windows. For 32-bit Windows, you have to download a different installer.'>
			VersionNT64
		</Condition>
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
		<WixVariable Id="WixUILicenseRtf" Value="..\..\windows-install\wincommon\LICENSE.rtf" />
		<WixVariable Id="WixUIBannerBmp" Value="..\..\doc\banner.bmp" />
		<WixVariable Id="WixUIDialogBmp" Value="..\..\doc\dialog.bmp" />
		<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch 'How to use CodeQuery'" />
		<Property Id='NOTEPAD'>Notepad.exe</Property>
		<CustomAction Id='LaunchFile' Property='NOTEPAD' ExeCommand='[#HOWTO]' Return='asyncNoWait' />
		<Icon Id="codequery.ico" SourceFile="..\..\gui\images\codequery.ico" />
		<Icon Id="msiexec.ico" SourceFile="C:\Windows\System32\msiexec.exe" />
		<Property Id="ARPPRODUCTICON" Value="codequery.ico" />
		<UI>
			<UIRef Id="WixUI_InstallDir" />
			<UIRef Id="WixUI_ErrorProgressText" />
			<Publish Dialog="ExitDialog"
				Control="Finish" 
				Event="DoAction" 
				Value="LaunchFile">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
		</UI>
		<Media Id='1' Cabinet='CodeQuery64.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1' />
		<Property Id='DiskPrompt' Value="CodeQuery Installation [1]" />
		<Directory Id='TARGETDIR' Name='SourceDir'>
			<Directory Id='ProgramFilesFolder' Name='PFiles'>
				<Directory Id='CodeQuery' Name='CodeQuery'>
					<Directory Id='INSTALLDIR' Name='CodeQuery 0.26.0 64bit'>
						<Component Id='CodeQueryGUI_64bit' Guid='2989278c-93cd-4ef7-a692-4eef77e747fb'>
							<File Id='codequeryEXE' Name='codequery.exe' DiskId='1' Source='codequery.exe' KeyPath='yes'>
								<Shortcut Id="startmenuCodeQueryShortcut" Directory="AppProgramMenuFolder" Name="CodeQuery"
									Advertise="yes" WorkingDirectory='INSTALLDIR' Icon="codequery.ico" IconIndex="0" />
							</File>
						</Component>
						<Component Id='cqmakedb_64bit' Guid='fe72a848-eb9d-471e-89c2-a81f1f26f8e0'>
							<File Id='cqmakedbEXE' Name='cqmakedb.exe' DiskId='1' Source='cqmakedb.exe' KeyPath='yes' />
							<Environment Id="PATH" Name="PATH" Value="[INSTALLDIR]" Permanent="no" Part="last" Action="set" System="no" />
						</Component>
						<Component Id='cqsearch_64bit' Guid='2753d8be-ff18-415f-99fb-bc6e2c5eb71c'>
							<File Id='cqsearchEXE' Name='cqsearch.exe' DiskId='1' Source='cqsearch.exe' KeyPath='yes' />
						</Component>
						<Component Id='cscope_64bit' Guid='22027772-b5a6-44c2-aac8-b62e5ac30d2d'>
							<File Id='cscopeEXE' Name='cscope.exe' DiskId='1' Source='..\..\windows-install\win64\cscope.exe' KeyPath='yes' />
						</Component>
						<Component Id='ctags_64bit' Guid='9596f520-e82c-46b6-aa51-dc7a675d50da'>
							<File Id='ctagsEXE' Name='ctags.exe' DiskId='1' Source='..\..\windows-install\win64\ctags.exe' KeyPath='yes' />
						</Component>
						<Component Id='docHOWTO' Guid='a8a737a0-9aef-4105-8004-2973e56a3f6d'>
							<File Id='HOWTO' Name='HOWTO-WINDOWS.txt' DiskId='1' Source='..\..\windows-install\wincommon\HOWTO-WINDOWS.txt' KeyPath='yes'>
								<Shortcut Id="startmenuHOWTOShortcut" Directory="AppProgramMenuFolder" Name="How to use CodeQuery"
									Advertise="yes" WorkingDirectory='INSTALLDIR' />
							</File>
						</Component>
						<Component Id='docLICENSE' Guid='0a2ca9df-dc81-4b7f-8b82-fcbbd60181ca'>
							<File Id='LICENSE' Name='LICENSE.txt' DiskId='1' Source='..\..\windows-install\wincommon\LICENSE.txt' KeyPath='yes'>
								<Shortcut Id="startmenuLicenseShortcut" Directory="AppProgramMenuFolder" Name="LICENSE"
									Advertise="yes" WorkingDirectory='INSTALLDIR' />
							</File>
						</Component>
						<Component Id='docREADME' Guid='cf10df14-cf2e-4200-b502-bdbdabebbdd2'>
							<File Id='README' Name='README.txt' DiskId='1' Source='..\..\windows-install\wincommon\README.txt' KeyPath='yes'>
								<Shortcut Id="startmenuREADMEShortcut" Directory="AppProgramMenuFolder" Name="README"
									Advertise="yes" WorkingDirectory='INSTALLDIR' />
							</File>
						</Component>
						<Component Id='sqlite3_64bit' Guid='3becd97b-1493-48f1-8a0a-564d8e84a041'>
							<File Id='sqlite3DLL' Name='sqlite3.dll' DiskId='1' Source='sqlite3.dll' KeyPath='yes' />
						</Component>
						<Component Id='BaseDLLsWin64' Guid='fa02bb08-440f-4170-9588-7eef443e572e'>
							<File Id='GCCDLL' Name='libgcc_s_seh-1.dll' DiskId='1' Source='libgcc_s_seh-1.dll' KeyPath='yes' />
							<File Id='STDCPPDLL' Name='libstdc++-6.dll' DiskId='1' Source='libstdc++-6.dll' KeyPath='no' />
							<File Id='WinPThreadDLL' Name='libwinpthread-1.dll' DiskId='1' Source='libwinpthread-1.dll' KeyPath='no' />
						</Component>
						<Component Id='GraphicsDLL64' Guid='4f5e985b-c383-447c-be0f-871002bdeb58'>
							<File Id='Direct3D' Name='D3Dcompiler_47.dll' DiskId='1' Source='D3Dcompiler_47.dll' KeyPath='no' />
							<File Id='EGL' Name='libEGL.dll' DiskId='1' Source='libEGL.dll' KeyPath='no' />
							<File Id='GLESV2' Name='libGLESV2.dll' DiskId='1' Source='libGLESV2.dll' KeyPath='no' />
							<File Id='OpenGL' Name='opengl32sw.dll' DiskId='1' Source='opengl32sw.dll' KeyPath='yes' />
						</Component>
						<Component Id='QT5MainDLL' Guid='4bd506fd-dd4f-4eed-a2ca-da8d95be829d'>
							<File Id='Qt5Concurrent' Name='Qt5Concurrent.dll' DiskId='1' Source='Qt5Concurrent.dll' KeyPath='no' />
							<File Id='Qt5Core' Name='Qt5Core.dll' DiskId='1' Source='Qt5Core.dll' KeyPath='yes' />
							<File Id='Qt5Gui' Name='Qt5Gui.dll' DiskId='1' Source='Qt5Gui.dll' KeyPath='no' />
							<File Id='Qt5Svg' Name='Qt5Svg.dll' DiskId='1' Source='Qt5Svg.dll' KeyPath='no' />
							<File Id='Qt5Widgets' Name='Qt5Widgets.dll' DiskId='1' Source='Qt5Widgets.dll' KeyPath='no' />
							<File Id='Qt5Xml' Name='Qt5Xml.dll' DiskId='1' Source='Qt5Xml.dll' KeyPath='no' />
						</Component>
						<Directory Id='iconengines' Name='iconengines'>
							<Component Id='QT5IconEngines' Guid='4d0e247a-7b12-4b2d-b48c-3feee2db38c2'>
								<File Id='qsvgicon' Name='qsvgicon.dll' DiskId='1' Source='iconengines\qsvgicon.dll' KeyPath='yes' />
							</Component>
						</Directory>
						<Directory Id='imageformats' Name='imageformats'>
							<Component Id='QT5ImageFormats' Guid='9cdb7a20-ef68-49a3-9c90-458b54ff22c2'>
								<File Id='qgif' Name='qgif.dll' DiskId='1' Source='imageformats\qgif.dll' KeyPath='no' />
								<File Id='qicns' Name='qicns.dll' DiskId='1' Source='imageformats\qicns.dll' KeyPath='no' />
								<File Id='qico' Name='qico.dll' DiskId='1' Source='imageformats\qico.dll' KeyPath='yes' />
								<File Id='qjpeg' Name='qjpeg.dll' DiskId='1' Source='imageformats\qjpeg.dll' KeyPath='no' />
								<File Id='qsvg' Name='qsvg.dll' DiskId='1' Source='imageformats\qsvg.dll' KeyPath='no' />
								<File Id='qtga' Name='qtga.dll' DiskId='1' Source='imageformats\qtga.dll' KeyPath='no' />
								<File Id='qtiff' Name='qtiff.dll' DiskId='1' Source='imageformats\qtiff.dll' KeyPath='no' />
								<File Id='qwbmp' Name='qwbmp.dll' DiskId='1' Source='imageformats\qwbmp.dll' KeyPath='no' />
								<File Id='qwebp' Name='qwebp.dll' DiskId='1' Source='imageformats\qwebp.dll' KeyPath='no' />
							</Component>
						</Directory>
						<Directory Id='platforms' Name='platforms'>
							<Component Id='QT5Platforms' Guid='eee144c7-e872-4760-8632-854b7959a761'>
								<File Id='qwindows' Name='qwindows.dll' DiskId='1' Source='platforms\qwindows.dll' KeyPath='yes' />
							</Component>
						</Directory>
						<Directory Id='styles' Name='styles'>
							<Component Id='QT5Styles' Guid='136c1dfb-d763-4c20-a030-eaa9052b7210'>
								<File Id='qwindowsvistastyle' Name='qwindowsvistastyle.dll' DiskId='1' Source='styles\qwindowsvistastyle.dll' KeyPath='yes' />
							</Component>
						</Directory>
						<Directory Id='translations' Name='translations'>
							<Component Id='QT5Translations' Guid='a7d44fc5-0d8c-49b3-b441-41750e69489d'>
								<File Id='qt_ar' Name='qt_ar.qm' DiskId='1' Source='translations\qt_ar.qm' KeyPath='no' />
								<File Id='qt_bg' Name='qt_bg.qm' DiskId='1' Source='translations\qt_bg.qm' KeyPath='no' />
								<File Id='qt_ca' Name='qt_ca.qm' DiskId='1' Source='translations\qt_ca.qm' KeyPath='no' />
								<File Id='qt_cs' Name='qt_cs.qm' DiskId='1' Source='translations\qt_cs.qm' KeyPath='no' />
								<File Id='qt_da' Name='qt_da.qm' DiskId='1' Source='translations\qt_da.qm' KeyPath='no' />
								<File Id='qt_de' Name='qt_de.qm' DiskId='1' Source='translations\qt_de.qm' KeyPath='no' />
								<File Id='qt_en' Name='qt_en.qm' DiskId='1' Source='translations\qt_en.qm' KeyPath='yes' />
								<File Id='qt_es' Name='qt_es.qm' DiskId='1' Source='translations\qt_es.qm' KeyPath='no' />
								<File Id='qt_fi' Name='qt_fi.qm' DiskId='1' Source='translations\qt_fi.qm' KeyPath='no' />
								<File Id='qt_fr' Name='qt_fr.qm' DiskId='1' Source='translations\qt_fr.qm' KeyPath='no' />
								<File Id='qt_gd' Name='qt_gd.qm' DiskId='1' Source='translations\qt_gd.qm' KeyPath='no' />
								<File Id='qt_he' Name='qt_he.qm' DiskId='1' Source='translations\qt_he.qm' KeyPath='no' />
								<File Id='qt_hu' Name='qt_hu.qm' DiskId='1' Source='translations\qt_hu.qm' KeyPath='no' />
								<File Id='qt_it' Name='qt_it.qm' DiskId='1' Source='translations\qt_it.qm' KeyPath='no' />
								<File Id='qt_ja' Name='qt_ja.qm' DiskId='1' Source='translations\qt_ja.qm' KeyPath='no' />
								<File Id='qt_ko' Name='qt_ko.qm' DiskId='1' Source='translations\qt_ko.qm' KeyPath='no' />
								<File Id='qt_lv' Name='qt_lv.qm' DiskId='1' Source='translations\qt_lv.qm' KeyPath='no' />
								<File Id='qt_pl' Name='qt_pl.qm' DiskId='1' Source='translations\qt_pl.qm' KeyPath='no' />
								<File Id='qt_ru' Name='qt_ru.qm' DiskId='1' Source='translations\qt_ru.qm' KeyPath='no' />
								<File Id='qt_sk' Name='qt_sk.qm' DiskId='1' Source='translations\qt_sk.qm' KeyPath='no' />
								<File Id='qt_uk' Name='qt_uk.qm' DiskId='1' Source='translations\qt_uk.qm' KeyPath='no' />
								<File Id='qt_zh_TW' Name='qt_zh_TW.qm' DiskId='1' Source='translations\qt_zh_TW.qm' KeyPath='no' />
							</Component>
						</Directory>
						<Component Id='CodeQueryUninstall' Guid='089a8038-775a-11ea-bc55-0242ac130003'>
							<File Id='uninstallBAT' Name='uninstall.bat' DiskId='1' Source='..\..\windows-install\wincommon\uninstall.bat' 
									KeyPath='yes' >
									<Shortcut Id="startmenuUninstallShortcut" Directory="AppProgramMenuFolder" Name="Uninstall CodeQuery" Show='minimized'
									Arguments='[ProductCode]' Advertise="yes" WorkingDirectory='INSTALLDIR' Icon="msiexec.ico" IconIndex="0" />
							</File>
						</Component>
					</Directory>
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder" Name="Programs">
				<Directory Id="AppProgramMenuFolder" Name="CodeQuery 0.26.0 (64-bit)" />
			</Directory>
		</Directory>
		<DirectoryRef Id="AppProgramMenuFolder">
			<Component Id="AppProgramMenuFolder" Guid="5a6c2529-ab92-4324-b48e-9a14c43f09ef">
				<RemoveFolder Id='AppProgramMenuFolder' On='uninstall' />
				<RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
			</Component>
		</DirectoryRef>
		<Feature Id='Complete' Title='CodeQuery 0.26.0 (Qt5, 64-bit)' Description='The complete package.' Level='1' ConfigurableDirectory='INSTALLDIR' InstallDefault='local' Absent='disallow'>
			<ComponentRef Id='CodeQueryGUI_64bit' />
			<ComponentRef Id='cqmakedb_64bit' />
			<ComponentRef Id='cqsearch_64bit' />
			<ComponentRef Id='cscope_64bit' />
			<ComponentRef Id='ctags_64bit' />
			<ComponentRef Id='docHOWTO' />
			<ComponentRef Id='docLICENSE' />
			<ComponentRef Id='docREADME' />
			<ComponentRef Id='sqlite3_64bit' />
			<ComponentRef Id='BaseDLLsWin64' />
			<ComponentRef Id='GraphicsDLL64' />
			<ComponentRef Id='QT5MainDLL' />
			<ComponentRef Id='QT5IconEngines' />
			<ComponentRef Id='QT5ImageFormats' />
			<ComponentRef Id='QT5Platforms' />
			<ComponentRef Id='QT5Styles' />
			<ComponentRef Id='QT5Translations' />
			<ComponentRef Id='CodeQueryUninstall' />
			<ComponentRef Id='AppProgramMenuFolder' />
		</Feature>
    </Product>
</Wix>
